*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-attachment: fixed;
  background-image: url(/images/black-texture.jpg);
  color: white;
  margin-bottom: 10%;
}

.bg-light{
  background-image: url(/images/Orange_Construction.jpg);
  background-color: black;
  background-blend-mode: luminosity;
}

.jumbotron{
  background-image: url(/images/Orange_Construction.jpg);
  background-color: black;
  background-blend-mode: luminosity;
  text-align: center;
  padding: 1%;
}

.serif{
  font-family: serif;
}

.centered{
  text-align: center;
}

.stretch{
  width: 100%;
}

.top{
  font-weight: bold;
}

.nav-item{
  transition: 0.15s;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item:hover{
  transform: scale(1.2,1.2);
  background-color: #00000067;
  border-radius: 50px;
}

.inventory{
  border: 1px solid white;
  padding: 3px;
  background-color: #0004;
}

#footer-link{
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-item{
    text-align: center;
    width: 30%;
    margin: auto;
  }

  body{
    margin-top: 40px;
  }
}
