*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-attachment: fixed;

}

.bg-light{
  background-color: #F9F9F9 !important;
}

.jumbotron{
  background-color: #F9F9F9;
  text-align: center;
  padding: 1%;
}

.serif{
  font-family: serif;
}

.centered{
  text-align: center;
}

.stretch{
  width: 100%;
}

.top{
  font-weight: bold;
}

.nav-item{
  transition: 0.15s;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item:hover{
  transform: scale(1.2,1.2);
  background-color: #00000032;
  border-radius: 50px;
}

.inventory{
  border: 1px solid black;
  padding: 3px;
}

#footer-link{
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-item{
    text-align: center;
    width: 30%;
    margin: auto;
  }

  body{
    margin-top: 40px;
  }
}
