body{
  color: #DDD;
  background-attachment: fixed;
  background-image: url(/images/background-pattern.jpg);
  margin-bottom: 70px;
}

.adjustment{
  transition: 0.5s;
}

.adjustment:hover{
  transform: scale(1.2,1.2);
  z-index: 5;
  margin-bottom: 50px;
  margin-top: 50px;
}

.title{
  text-align: center;
}

.description{
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0,0,0,0.85);
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: helvitica;
  font-size: 1.2em;
}

.image-format{
  margin-top: 5px;
}

.nav-link{
  border-radius: 10px;
  border: 2px solid white;
}

.nav-item{
  transition: 0.1s;
  padding-left: 5px;
}

.nav-item:hover{
  transform: scale(1.1, 1.1);
}

.bg-dark{
  background-color: #0a0a0a !important;
}

.navbar-offset{
  margin-top: 60px;
  text-align: center;
}

#navbarNav{
  text-align: center;
}

.logo{
  width: 42px;
  height: 30.8px;
}

@media only screen and (max-width: 990px) {
  .nav-item{
    margin-bottom: 5px;
  }
}
